@font-face {
  font-family: "Neue Montreal";
  src: url("fonts\\Neue Montreal\\NeueMontreal-Bold.otf") format("otf"),
    url("fonts\\Neue Montreal\\NeueMontreal-Light.otf") format("otf"),
    url("fonts\\Neue Montreal\\NeueMontreal-Medium.otf") format("otf"),
    url("fonts\\Neue Montreal\\NeueMontreal-Regular.otf") format("otf");
  /* Add more formats if necessary */
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #83b8fa;
  font-family: "Neue Montreal", Helvetica;
}
p {
  margin: 0px;
  color: #f4fbfa;
}

input {
  padding: 7px;
  margin: 5px 0px;
  border-radius: 6px;
  background-image: url("img/search.svg");
  background-position: 2px;
  width: 300px;
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 25px;
  font-size: 16px;
  border: 2px solid transparent;
  height: 20px;
  box-shadow: 0 0 0 1px #f4fbfa, 0 2px 4px 0 rgb(0 0 0 / 7%),
    0 1px 1.5px 0 rgb(0 0 0 / 5%);
}
input::placeholder {
  font-size: 14px;
}
input:focus {
  /* border: 8px solid #f7d344; */
  border-radius: 6px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.first-section {
  margin: 10px;
  flex-grow: inherit;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);

  /* background-image: url(img/background-gradient.png); */
  background-color: #68a9f9;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-radius: 6px;
  padding: 20px 20px;
  flex: 1;
}
.first-section-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.second-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.panel {
  padding: 12px 20px;
  margin: 10px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  align-items: center;
  border-radius: 6px;
  background-color: #68a9f9;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.panel-weather-img {
  width: 70px;
  height: 70px;
}

.panel-degree {
  font-size: 22px;
}
.panel .humidity p{
  width: 40px;
}

.humidity {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.length img {
  width: 30px;
  height: 30px;
}

.location {
  display: flex;
}

.location p {
  font-family: "Neue Montreal", Helvetica;
  font-weight: 400;
  font-size: 16px;
}
.bottom {
  display: flex;
  justify-content: space-between;
}

.third-section {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #68a9f9;
  justify-content: space-evenly;

  flex: 1;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
}

.third-section p {
  font-family: "Neue Montreal", Helvetica;
  font-size: 20px;
  /* font-weight: 500; */
}
.list img {
  width: 35px;
  height: 35px;
}
.list {
  border-radius: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px;
}
.list-text {
  width: 80px;
}

.fourth-section {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.timestamp {
  border-radius: 6px;
  background-color: #68a9f9;

  padding: 20px 20px;
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.timestamp p {
  font-size: 22px;
  font-family: "Neue Montreal", Helvetica;
  padding: 0px 0px 7px 0px;
}


select{
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  max-height: 100px;
  overflow-y:scroll;

  z-index: 1;
}


.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;



  min-width: 15ch;
  max-width: 30ch;

  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 18px;
  color: #414244;
  cursor: pointer;
  line-height: 1.1;

  background-color: #f1f1f1;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}




label {
  font-size: 1.125rem;
  font-weight: 500;
}

.select + label {
  margin-top: 2rem;
}


.checking {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}
.checking img {
  width: 10px;
}

.catergories {
  margin: 10px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
  grid-gap: 10px;
}

.catergory {
  border-radius: 6px;
  background-color: #68a9f9;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.catergory-text {
  align-items: center;
  display: flex;
  padding: 10px;
  font-weight: 500;
  flex-direction: column;
  font-family: "Neue Montreal", Helvetica;
  font-size: 18px;
}

#degree {
  font-family: "Neue Montreal", Helvetica;
  font-weight: 700;
  font-size: 60px;
  height: 70px;
  white-space: nowrap;
  color: #f4fbfa;
}

#description {
  font-family: "Neue Montreal", Helvetica;
  color: #f4fbfa;
  font-weight: 500;
  font-size: 30px;

  white-space: nowrap;
}

#weather-nav {
  font-family: "Neue Montreal", Helvetica;
  font-weight: 500;
  color: #f4fbfa;
  font-size: 36px;
  letter-spacing: -0.5px;
  margin: 0px 10px;
  line-height: normal;
}

#weatherImg {
  width: 150px;
  height: 150px;
}
